<html>
  <head>
    <title>oj</title>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans:400,300' rel='stylesheet' type='text/css'>
    <link href="css/highlight.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body>
    <img src="github.png" class="github-link">
    <header>
      <h1>oj</h1>
      <img src="http://i.imgur.com/xEi1K4l.jpg">
      <p>A refreshing Clojure library for talking to your database.</p>
    </header>
    {{ content }}
    <script>
      var btn = document.getElementsByClassName('github-link')[0];
      btn.addEventListener('click', function() {
        console.log('clicked');
        window.location.href = "http://github.com/taylorlapeyre/oj"
      }, false);
    </script>
  </body>
</html>
